
#titlebox{
    color:aquamarine;
}
body{

    background-image: url("images/picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    background-color:aqua;
}
h1{
    font-size:5rem;
    text-shadow: 3px 0;
  
}
.l {
    background-image:url("images/tom1.png");


}
.i{
    background-image:url("images/tom2.png");
    

}
.k {
    background-image:url("images/tom3.png");
    

}
.r{
    background-image: url("images/tom4.png");
   
}

.a{
    background-image:url("images/crash.png");
    
}

.v {
    background-image: url("images/kick.png");
    
}
.set {
    margin-top: 100px;
    display:flex;
    gap:50px;
    justify-content:center;

}
.drum {
    font-size: 50px;
    font-family: DancingScript;
    height:170px;
    width:170px;
    border-radius:2px;

}
.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}








